<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task Manager</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
    <!--<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>-->

    {{#each styles}}
        <link href='{{this}}' rel='stylesheet' type='text/css'>
    {{/each}}
</head>
    <body>

        <div
                id="root"
                class="rootWrapper"
                style="width: 100%;
                  height: 100%;
                  overflow: hidden;
                  overflow-y: auto;
                  position: relative;"
        ></div>

        {{#each scripts}}
            <script src="{{this}}"></script>
        {{/each}}

    </body>
</html>
