$color-primary: #1e88e5;
$color-primary-darken: #176ab0;
$color-primary-lighten: #53a7ff;
$color-secondary: #7CB342;
$color-secondary-darken: #689F38;
$color-secondary-lighten: #8BC34A;
$color-success: #43A047;
$color-error: #e53935;

$headerHeight: 50px;
$footerHeight: 50px;
